In [1]:
import pandas as pd
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

## Table description generation

Enter the following info: 
 - Table name
 - Location
 - Separator
 - Encoding (optional)
 - Decimal mark (optional)

In [2]:
table = "TB_INTERACCIONES.tsv"
location = "../../data/raw"
sep = '\t'
encoding = 'latin1'
decimal = ','

### Make a first view of the dataset to check most interesting columns

**Run this if it's a big file**

In [3]:
for chunk in pd.read_csv(f"{location}/{table}",
                         sep=sep,
                         encoding=encoding,
                         decimal=decimal,
                         chunksize=1000000):
    df = chunk
    break

**Run this if it's a relatively small file**

In [ ]:
df = pd.read_csv(f"{location}/{table}",
                sep=separator,
                encoding=encoding,
                decimal=decimal)

In [4]:
df.head(15)

,ID,CIF_ID,IN_OUT,CANAL_COMUNICACION,FECHA,OBSERVACIONES,GESTION,DESCRIPCION,AGRUPACION
0,212931236,22118197,O,MAIL,01/01/2018,NaN,FPSE,Emailing Falta de Pago - Enviado,NaN
1,212931237,21794535,O,MAIL,01/01/2018,NaN,FPSE,Emailing Falta de Pago - Enviado,NaN
2,212931238,12872524,O,MAIL,01/01/2018,NaN,FPSE,Emailing Falta de Pago - Enviado,NaN
3,212931239,1089433,O,MAIL,01/01/2018,NaN,FPNE,Emailing Falta de Pago - No enviado,NaN
4,212931240,11176325,O,MAIL,01/01/2018,NaN,FPNE,Emailing Falta de Pago - No enviado,NaN
5,212931241,22264538,O,MAIL,01/01/2018,NaN,FPNE,Emailing Falta de Pago - No enviado,NaN
6,212958562,21056268,O,TEL,01/01/2018,4560-0029756-07 AUTO 05-01-2018 Impresi贸n/PDF...,H038,Impresi贸n/PDF Automotor,CONSULTAS O GESTIONES SOBRE POLIZA
7,212931226,10037395,O,MAIL,01/01/2018,NaN,FPNE,Emailing Falta de Pago - No enviado,NaN
8,212931227,10801030,O,MAIL,01/01/2018,NaN,FPSE,Emailing Falta de Pago - Enviado,NaN
9,212931228,17500849,O,MAIL,01/01/2018,NaN,FPSE,Emailing Falta de Pago - Enviado,NaN
10,212931229,14081033,O,MAIL,01/01/2018,NaN,FPSE,Emailing Falta de Pago - Enviado,NaN
11,212931230,21526608,O,MAIL,01/01/2018,NaN,FPSE,Emailing Falta de Pago - Enviado,NaN
12,212931231,22248358,O,MAIL,01/01/2018,NaN,FPSE,Emailing Falta de Pago - Enviado,NaN
13,212931232,15692435,O,MAIL,01/01/2018,NaN,FPSE,Emailing Falta de Pago - Enviado,NaN
14,212931233,19436077,O,MAIL,01/01/2018,NaN,FPSE,Emailing Falta de Pago - Enviado,NaN

In [5]:
df.dtypes

ID                    object
CIF_ID                object
IN_OUT                object
CANAL_COMUNICACION    object
FECHA                 object
OBSERVACIONES         object
GESTION               object
DESCRIPCION           object
AGRUPACION            object
dtype: object

In [6]:
df.columns

Index(['ID', 'CIF_ID', 'IN_OUT', 'CANAL_COMUNICACION', 'FECHA',
       'OBSERVACIONES', 'GESTION', 'DESCRIPCION', 'AGRUPACION'],
      dtype='object')

*Based on last output, fill this list to mark most relevant columns*

In [3]:
to_use = ['ID', 'CIF_ID', 'IN_OUT', 'CANAL_COMUNICACION', 'FECHA',
       'OBSERVACIONES', 'GESTION', 'DESCRIPCION', 'AGRUPACION']

### Now write the file

**If it was a big file, read it completely with this line**

In [4]:
chunks = pd.read_csv(f"{location}/{table}",
                         sep=sep,
                         encoding=encoding,
                         decimal=decimal,
                         chunksize=1000000)
df = pd.concat(chunks)

/home/voolkia/anaconda3/envs/test/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
f = open(f'../../docs/{table} feature description.csv','w')
f.write('Column;Used;Null Rate; Type; Unique values; Values\n')
for column in df.columns:
    print(column)
    null_rate = round(df[column].isna().mean()*100,2)
    
    unique_vals = df[column].nunique()
    
    if (column in to_use) and null_rate < .5 and unique_vals > 1:
        used = 'X'
    else:
        used=''
    
    dtype = df[column].dtype
    
    if(dtype == 'object'):
        values = f"Top 10:\n{df[column].value_counts(dropna=False).head(10).to_string()}"
    else:
        values = f'[{df[column].min()};{df[column].max()}]'
        
    f.write(f'{column};{used};{null_rate};{dtype};{unique_vals};"{values}"\n')
    
f.close()

ID
CIF_ID
IN_OUT
CANAL_COMUNICACION
FECHA
OBSERVACIONES
GESTION
DESCRIPCION
AGRUPACION