In [2]:
import pandas as pd

In [3]:
table = "VIGABT_POLIZAS.tsv"
location = "../../../data/raw"
sep = '\t'
encoding = 'latin1'
decimal = ','

In [4]:
df_polizas = pd.read_csv(f"{location}/{table}",
                         sep=sep,
                         encoding=encoding,
                         decimal=decimal,
                         usecols = ["NUM_SECU_POL", "CIF_ID"])

In [5]:
df_polizas.head()

    NUM_SECU_POL      CIF_ID
0  1754486179999  19264733.0
1  1754487779999  20526578.0
2  1754488299999  22162468.0
3  1754488439999  17484524.0
4  1754488459999  20964285.0

In [7]:
df_polizas.drop_duplicates(inplace=True)

In [9]:
df_polizas.reset_index(drop=True).to_feather("../../../data/interim/poliza_x_cliente.feather")