In [1]:
import os

import pandas as pd

In [2]:
# general configs
pd.set_option("display.max_columns", 500)

# condiciones - analysis

In [102]:
# setting configs and constants
# path to raw dataset
PATH = "../../../data/interim/1. col_red"
FILENAME = "BTT_ASEGURADOS-red_col.feather"
RAW_FILE = os.path.join(PATH, FILENAME)

if not(os.path.exists(RAW_FILE) and os.path.isfile(RAW_FILE)):
    raise Exception("File doesn't exists.")

## Loading database

In [103]:
# usecols = []
df = pd.read_feather(RAW_FILE)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3479842 entries, 0 to 3479841
Data columns (total 6 columns):
CIF_ID              float64
COD_EST_CIVIL       object
FECHA_DESDE         datetime64[ns]
FECHA_NACIMIENTO    datetime64[ns]
SEXO_ASEG           object
TIPO_ACTIVIDAD      object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 159.3+ MB

/home/voolkia/anaconda3/lib/python3.6/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [104]:
df["CIF_ID"].nunique()

3385271

## formatting columns

## dropping repeated columns

In [105]:
# df.drop(columns=["FECHA_NACIMIENTO", "SEXO_ASEG"], inplace=True)

## deleting rows

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3479842 entries, 0 to 3479841
Data columns (total 6 columns):
CIF_ID              float64
COD_EST_CIVIL       object
FECHA_DESDE         datetime64[ns]
FECHA_NACIMIENTO    datetime64[ns]
SEXO_ASEG           object
TIPO_ACTIVIDAD      object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 159.3+ MB

In [107]:
# checking for nulls
df["CIF_ID"].isna().sum()

1071

In [108]:
# option 1
# df.dropna(axis=0, subset=["CIF_ID"], inplace=True)
# option 2
df = df[~df["CIF_ID"].isna()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3478771 entries, 0 to 3479841
Data columns (total 6 columns):
CIF_ID              float64
COD_EST_CIVIL       object
FECHA_DESDE         datetime64[ns]
FECHA_NACIMIENTO    datetime64[ns]
SEXO_ASEG           object
TIPO_ACTIVIDAD      object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 185.8+ MB

In [109]:
df["CIF_ID"].nunique()

3385271

In [110]:
df["CIF_ID"].value_counts(dropna=False).head(4)

19552070.0    1547
18408293.0     652
19094921.0     423
22751283.0     349
Name: CIF_ID, dtype: int64

In [111]:
3479842 - 1071 # checking diff

3478771

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3478771 entries, 0 to 3479841
Data columns (total 6 columns):
CIF_ID              float64
COD_EST_CIVIL       object
FECHA_DESDE         datetime64[ns]
FECHA_NACIMIENTO    datetime64[ns]
SEXO_ASEG           object
TIPO_ACTIVIDAD      object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 185.8+ MB

In [113]:
df["TIPO_ACTIVIDAD"].replace("SinDato", np.nan)
# this doens't work
#df[df["TIPO_ACTIVIDAD"] == "SinDato"] = np.nan
df["TIPO_ACTIVIDAD"].value_counts(dropna=False)

SinDato    2186577
EMPL        552476
ADMI        118156
OTRO        109773
COME         68089
JUBI         53820
ADNI         40446
DOCE         35444
AMAD         30520
ABOG         27035
MEDI         13713
FUNC         12464
ESTU         11928
ENCE          9054
POLI          7526
INGE          6775
CONT          6443
CHOF          6419
MILI          5849
EMPR          5559
OPER          5038
DESE          4044
ADEM          4023
ARQU          3992
MECA          3834
ALBA          3619
VEND          3556
DIPLO         3438
ESCB          3215
ENFE          2865
            ...
780000           1
649100           1
453292           1
SERV             1
261091           1
643009           1
661130           1
139201           1
072910           1
611200           1
104013           1
269422           1
491120           1
011341           1
502101           1
106120           1
275020           1
672200           1
282600           1
923300           1
275092           1
160091           1
603200           1
062000           1
269200           1
151202           1
272000           1
151430           1
502200           1
102001           1
Name: TIPO_ACTIVIDAD, Length: 1820, dtype: int64

In [114]:
df["CIF_ID"].nunique()

3385271

# saving into feather

In [115]:
# convert format to save into feather

In [116]:
file_save = FILENAME.split(".")[0]
file_save

'BTT_ASEGURADOS-red_col'

In [117]:
file_save = FILENAME.split(".")[0]
to_save = f"../../../data/interim/2. col_red_min/{file_save}-clean.feather"
df.reset_index(drop=True).to_feather(to_save)
print(to_save)

../../../data/interim/2. col_red_min/BTT_ASEGURADOS-red_col-clean.feather

# Loading dataset to get unique CIF_ID

In [118]:
to_load = f"../../../data/interim/2. col_red_min/BTT_ASEGURADOS-red_col-clean.feather"

In [119]:
df = pd.read_feather(to_load)
#df.drop(columns="index", inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3478771 entries, 0 to 3478770
Data columns (total 6 columns):
CIF_ID              float64
COD_EST_CIVIL       object
FECHA_DESDE         datetime64[ns]
FECHA_NACIMIENTO    datetime64[ns]
SEXO_ASEG           object
TIPO_ACTIVIDAD      object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 159.2+ MB

/home/voolkia/anaconda3/lib/python3.6/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [120]:
df["CIF_ID"].nunique()

3385271

In [121]:
df.drop_duplicates(subset=["CIF_ID"], keep="last", inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3385271 entries, 0 to 3478770
Data columns (total 6 columns):
CIF_ID              float64
COD_EST_CIVIL       object
FECHA_DESDE         datetime64[ns]
FECHA_NACIMIENTO    datetime64[ns]
SEXO_ASEG           object
TIPO_ACTIVIDAD      object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 180.8+ MB

In [122]:
df["CIF_ID"].nunique()

3385271

In [123]:
df[df["CIF_ID"].isna()]

Empty DataFrame
Columns: [CIF_ID, COD_EST_CIVIL, FECHA_DESDE, FECHA_NACIMIENTO, SEXO_ASEG, TIPO_ACTIVIDAD]
Index: []

In [124]:
to_save = f"../../../data/interim/3. row_red/{file_save}-red_cols-clean-unique_CIF_ID.feather"
df.reset_index(drop=True).to_feather(to_save)

In [125]:
print(to_save)

../../../data/interim/3. row_red/BTT_ASEGURADOS-red_col-red_cols-clean-unique_CIF_ID.feather