In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_table("../../data/raw/TB_INTERACCIONES.tsv", encoding="latin-1")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4104713 entries, 0 to 4104712
Data columns (total 7 columns):
CUSTOMER_ID            object
MODE_OF_INTERACTION    object
INTERACTION_TYPE       object
INTERACTION_DATE       object
COMMENTS               object
COD_INTERACTION        object
TEXT_DESCRIPTION       object
dtypes: object(7)
memory usage: 219.2+ MB

In [3]:
from dateutil.parser import parse

df["fecha"] = df["INTERACTION_DATE"].apply(lambda x: x if pd.isnull(x) else x.split(" ")[0])
df["fecha"] = pd.to_datetime(df["fecha"], format="%d/%m/%Y")

In [8]:
df["corresp_date"] = df.fecha.apply(lambda x : x if pd.isnull(x) else "{}-{:02}".format(x.year, x.month) )
df["mes"] = df.fecha.apply(lambda x : x if pd.isnull(x) else int(x.month) )
df["anio"] = df.fecha.apply(lambda x : x if pd.isnull(x) else int(x.year) )

In [10]:
df.corresp_date.sort_values().value_counts()

2017-01    97394
2017-10    94547
2016-07    88965
2016-01    87671
2015-04    85650
2017-08    84310
2016-08    84297
2017-07    82583
2015-12    81959
2016-12    81761
2017-03    81241
2015-11    81168
2016-09    80527
2017-09    80498
2017-11    80446
2017-05    79936
2015-06    79733
2015-01    78927
2015-07    78552
2018-01    77287
2016-03    76883
2016-02    76760
2017-06    75982
2016-05    75886
2015-10    75867
2016-11    75507
2015-09    75142
2016-10    75026
2015-05    74754
2017-02    74593
           ...
2015-08    72642
2017-04    72368
2016-04    72261
2017-12    71305
2014-09    70395
2015-03    70346
2014-12    66183
2014-10    64103
2014-06    63683
2014-05    63253
2015-02    63245
2014-07    62925
2014-04    61858
2014-01    60366
2014-11    58918
2014-08    58140
2014-03    56041
2014-02    50046
2013-12    47787
2013-11    40300
2013-10    40086
2013-05    39440
2013-07    37948
2013-01    37364
2013-04    37316
2013-08    36274
2013-03    35500
2013-09    34141
2013-06    31401
2013-02    30562
Name: corresp_date, Length: 61, dtype: int64

# Versi√≥n simple contar cantidad

In [19]:
df.head()

,CUSTOMER_ID,MODE_OF_INTERACTION,INTERACTION_TYPE,INTERACTION_DATE,COMMENTS,COD_INTERACTION,TEXT_DESCRIPTION,fecha,corresp_date,mes,anio
6,1690,TEL,I,07/01/2013 01:57:08 p.m.,NaN,SCV5,Otras Consultas,2013-01-07,2013-01,1,2013
128,5575,TEL,I,22/01/2013 04:32:26 p.m.,Info num todo tranccion. 53308855474.-,SCCS,SC-Tram Pend - Consulta del Siniestro,2013-01-22,2013-01,1,2013
129,5575,TEL,I,21/01/2013 12:16:49 a.m.,Siniestro Nro. 53308855474,SA01,Denuncia de un siniestro,2013-01-21,2013-01,1,2013
390,9028,TEL,O,19/01/2013 05:09:09 p.m.,NaN,RAIV,RA-Cliente Contactado por IVR,2013-01-19,2013-01,1,2013
391,9028,TEL,O,18/01/2013 04:49:56 p.m.,NaN,CAT,Contestador Automatico,2013-01-18,2013-01,1,2013

In [20]:
df = df[df.corresp_date.notnull()]

In [21]:
df.sort_values(["anio", "mes"], inplace=True)

In [22]:
columns = df.corresp_date.unique()
row = df.CUSTOMER_ID.unique()

In [23]:
#creo el dataset vacio
df_m = pd.DataFrame(columns=columns)
df_m.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 61 columns):
2013-01    0 non-null object
2013-02    0 non-null object
2013-03    0 non-null object
2013-04    0 non-null object
2013-05    0 non-null object
2013-06    0 non-null object
2013-07    0 non-null object
2013-08    0 non-null object
2013-09    0 non-null object
2013-10    0 non-null object
2013-11    0 non-null object
2013-12    0 non-null object
2014-01    0 non-null object
2014-02    0 non-null object
2014-03    0 non-null object
2014-04    0 non-null object
2014-05    0 non-null object
2014-06    0 non-null object
2014-07    0 non-null object
2014-08    0 non-null object
2014-09    0 non-null object
2014-10    0 non-null object
2014-11    0 non-null object
2014-12    0 non-null object
2015-01    0 non-null object
2015-02    0 non-null object
2015-03    0 non-null object
2015-04    0 non-null object
2015-05    0 non-null object
2015-06    0 non-null object
2015-07    0 non-null object
2015-08    0 non-null object
2015-09    0 non-null object
2015-10    0 non-null object
2015-11    0 non-null object
2015-12    0 non-null object
2016-01    0 non-null object
2016-02    0 non-null object
2016-03    0 non-null object
2016-04    0 non-null object
2016-05    0 non-null object
2016-06    0 non-null object
2016-07    0 non-null object
2016-08    0 non-null object
2016-09    0 non-null object
2016-10    0 non-null object
2016-11    0 non-null object
2016-12    0 non-null object
2017-01    0 non-null object
2017-02    0 non-null object
2017-03    0 non-null object
2017-04    0 non-null object
2017-05    0 non-null object
2017-06    0 non-null object
2017-07    0 non-null object
2017-08    0 non-null object
2017-09    0 non-null object
2017-10    0 non-null object
2017-11    0 non-null object
2017-12    0 non-null object
2018-01    0 non-null object
dtypes: object(61)
memory usage: 0.0+ bytes

In [24]:
#agrupo por cliente y mes_anio y cuento cuantas interacciones distintas tiene
groups = df.groupby(["CUSTOMER_ID", "corresp_date"])["CUSTOMER_ID"].count()
groups

CUSTOMER_ID  corresp_date
1000002      2013-01          4
             2013-02          1
             2013-03          1
             2013-10          1
             2013-11          1
             2013-12          1
             2014-01         12
             2014-02          1
             2014-04         13
             2014-05          4
             2014-06          6
             2015-01          9
             2015-02          4
             2015-03          3
             2015-10          9
             2016-01          8
             2016-07          4
             2016-08          3
             2017-10          2
10000224     2013-10          1
             2013-11          1
             2013-12          2
             2014-01          8
             2014-10          1
             2014-11          1
             2014-12          5
             2015-02          3
             2015-04          3
             2015-05          1
             2015-06          1
                             ..
9999325      2016-04          2
             2016-05          1
             2016-06          1
             2016-07          4
             2016-08          5
             2016-09          3
             2016-10          2
             2016-11          4
             2016-12          5
             2017-01          4
             2017-02          2
             2017-03          4
             2017-04          4
             2017-05          5
             2017-06          1
             2017-07          2
             2017-08          5
             2017-09          3
             2017-10          4
             2017-11          4
             2017-12          5
             2018-01          4
999939       2014-11          1
             2016-07          1
9999396      2013-08          1
             2014-03          1
             2014-04          2
             2014-05          1
             2014-07          1
             2015-10          1
Name: CUSTOMER_ID, Length: 1127745, dtype: int64

In [25]:
for id_cliente in groups.index.levels[0]:
    df_m.loc[id_cliente] = groups[id_cliente].T

In [26]:
df_m.to_csv("../../data/processed/4.4/tmp/BD_ID_CLIENTE_N.INTERACCIONES-GENERALES_X_MES.csv")

# Versi√≥n + compleja: Analizar tipos de interacci√≥n

In [29]:
#I
cod_buenas = ["H033", "H024", "ATPR", "VTA", "CONS", "HO49", "OFE", "SCCS", "H038", "H032", "IMCS", "AS", "DD20"]
cod_malas = ["TRAN"]

df[df.COD_INTERACTION == df[df.INTERACTION_TYPE == "I"].COD_INTERACTION.value_counts().index[22]].iloc[0:20][["COD_INTERACTION","COMMENTS"]]

     COD_INTERACTION                                           COMMENTS
34              SCLT                                                NaN
35              SCLT                            5990 por baja de palio.
39              SCLT                                     5990 por baja.
47              SCLT                         5990 dif costos/plan menor
366             SCLT                                               5888
401             SCLT                                               5990
410             SCLT                                 frost cotiza menos
1743            SCLT                                                NaN
1788            SCLT                                   FROST, por baja.
2276            SCLT                                         Cristal .-
2894            SCLT                                    Frost, por baja
3424            SCLT                                      3991 consulta
3615            SCLT              no corresponde consulta a siniestros.
3625            SCLT                                    5990 plan menor
3890            SCLT  Asegurado no acepta cristal del proveedor y so...
3953            SCLT                                               5990
5969            SCLT                                            bmn 325
6146            SCLT                                                NaN
6327            SCLT                      FROST, x cotizac. plan menor.
6761            SCLT                                                NaN

In [5]:
#interacciones generales
#df.COD_INTERACTION.value_counts() #> len(df)*0.01

df[(df.COD_INTERACTION == "TRAN") & (df.INTERACTION_TYPE == "I")]

,CUSTOMER_ID,MODE_OF_INTERACTION,INTERACTION_TYPE,INTERACTION_DATE,COMMENTS,COD_INTERACTION,TEXT_DESCRIPTION
122,5575,TEL,I,13/09/2013 10:34:35 a.m.,5857,TRAN,Transferido a otro sector
209,9028,TEL,I,29/09/2016 02:51:29 p.m.,NaN,TRAN,Transferido a otro sector
210,9028,TEL,I,29/09/2016 02:50:11 p.m.,NaN,TRAN,Transferido a otro sector
370,9028,TEL,I,17/12/2013 04:33:04 p.m.,NaN,TRAN,Transferido a otro sector
703,14923,TEL,I,01/04/2015 01:48:46 p.m.,NaN,TRAN,Transferido a otro sector
1358,22597,TEL,I,05/09/2017 04:36:36 p.m.,baja,TRAN,Transferido a otro sector
1442,22597,TEL,I,22/12/2015 09:44:04 a.m.,derivo a sinistro,TRAN,Transferido a otro sector
2410,57711,TEL,I,08/06/2015 09:29:42 a.m.,Siniestro Cristales.,TRAN,Transferido a otro sector
2773,70296,TEL,I,12/02/2016 07:54:25 p.m.,NaN,TRAN,Transferido a otro sector
2815,70296,TEL,I,29/04/2015 11:23:55 a.m.,NaN,TRAN,Transferido a otro sector
2823,70296,TEL,I,28/04/2015 02:30:55 p.m.,NaN,TRAN,Transferido a otro sector
2873,70296,TEL,I,01/08/2013 04:40:21 p.m.,NaN,TRAN,Transferido a otro sector
3669,88265,TEL,I,18/04/2017 11:51:49 a.m.,2155,TRAN,Transferido a otro sector
3772,88265,TEL,I,03/03/2015 01:29:30 p.m.,Asegurado agrede verbalmente a mi y al asesor ...,TRAN,Transferido a otro sector
3774,88265,TEL,I,03/03/2015 01:20:09 p.m.,NaN,TRAN,Transferido a otro sector
4193,99654,TEL,I,14/03/2016 05:48:12 p.m.,Primero hay que realizar nueva venta. transfie...,TRAN,Transferido a otro sector
4194,99654,TEL,I,14/03/2016 05:45:23 p.m.,NaN,TRAN,Transferido a otro sector
4195,99654,TEL,I,14/03/2016 05:43:31 p.m.,5090,TRAN,Transferido a otro sector
4237,99654,TEL,I,08/01/2016 02:56:53 p.m.,NaN,TRAN,Transferido a otro sector
4267,99654,TEL,I,03/12/2015 11:45:08 a.m.,NaN,TRAN,Transferido a otro sector
4277,99654,TEL,I,01/12/2015 11:39:16 a.m.,solicita inspeccion al domicilio},TRAN,Transferido a otro sector
4281,99654,TEL,I,28/11/2015 10:17:42 a.m.,NaN,TRAN,Transferido a otro sector
5859,114305,TEL,I,13/11/2013 01:18:45 p.m.,NaN,TRAN,Transferido a otro sector
5860,114305,TEL,I,13/11/2013 01:17:10 p.m.,5090,TRAN,Transferido a otro sector
5968,116442,TEL,I,08/03/2016 03:09:49 p.m.,3991,TRAN,Transferido a otro sector
6123,121460,TEL,I,22/06/2016 08:57:42 a.m.,NaN,TRAN,Transferido a otro sector
6150,121460,TEL,I,20/02/2014 11:16:32 a.m.,5090,TRAN,Transferido a otro sector
6197,121460,TEL,I,22/05/2013 04:14:13 p.m.,NaN,TRAN,Transferido a otro sector
6577,127188,TEL,I,01/07/2013 05:57:18 p.m.,NaN,TRAN,Transferido a otro sector
7013,127914,TEL,I,02/01/2014 06:00:52 p.m.,NaN,TRAN,Transferido a otro sector
...,...,...,...,...,...,...,...
4088537,21053338,TEL,I,06/01/2016 01:30:31 p.m.,5070,TRAN,Transferido a otro sector
4088767,21054426,TEL,I,25/02/2016 05:07:25 p.m.,5857 (transfiero a siniestros guiado ya que el...,TRAN,Transferido a otro sector
4088778,21054458,TEL,I,02/01/2018 03:27:32 p.m.,2202- Fin PP,TRAN,Transferido a otro sector
4089648,21057348,TEL,I,06/01/2016 03:06:22 p.m.,5090,TRAN,Transferido a otro sector
4089787,21057679,TEL,I,08/11/2017 04:38:45 p.m.,NaN,TRAN,Transferido a otro sector
4089796,21057679,TEL,I,07/11/2017 03:32:18 p.m.,5888 nueva sol,TRAN,Transferido a otro sector
4090391,21059319,TEL,I,20/01/2016 01:00:46 p.m.,5800,TRAN,Transferido a otro sector
4090415,21059319,TEL,I,14/01/2016 10:58:59 a.m.,5090,TRAN,Transferido a otro sector
4091375,21063982,TEL,I,07/03/2017 04:47:24 p.m.,NaN,TRAN,Transferido a otro sector
4092176,21065941,TEL,I,20/10/2016 04:44:08 p.m.,5990 (por plan menor),TRAN,Transferido a otro sector
4092938,21067600,TEL,I,04/08/2016 04:53:59 p.m.,5800,TRAN,Transferido a otro sector
4093167,21068773,TEL,I,19/02/2016 06:51:51 p.m.,5600,TRAN,Transferido a otro sector
4093347,21069204,TEL,I,02/03/2016 02:19:20 p.m.,5464,TRAN,Transferido a otro sector
4093539,21069531,TEL,I,15/02/2016 10:14:01 a.m.,NaN,TRAN,Transferido a otro sector
4093568,21069564,TEL,I,27/05/2016 12:51:51 p.m.,5800 endosar patente por stro.,TRAN,Transferido a otro sector
4093870,21070022,TEL,I,20/12/2016 07:44:23 p.m.,error en polaris al intentar coordinar externa...,TRAN,Transferido a otro sector
4094083,21070632,TEL,I,29/09/2016 02:09:50 p.m.,es por autos,TRAN,Transferido a otro sector
4094107,21070632,TEL,I,19/01/2016 11:36:08 a.m.,LO AJCK.,TRAN,Transferido a otro sector
4094135,21070663,TEL,I,08/08/2016 11:20:32 a.m.,NaN,TRAN,Transferido a otro sector
4094142,21070663,TEL,I,29/02/2016 03:42:08 p.m.,ruedas.,TRAN,Transferido a otro sector
4094144,21070663,TEL,I,26/02/2016 12:37:26 p.m.,NaN,TRAN,Transferido a otro sector
4094181,21070708,TEL,I,03/04/2017 03:12:10 p.m.,NaN,TRAN,Transferido a otro sector
4094283,21070757,TEL,I,29/11/2016 10:24:22 a.m.,"2005 (Est√° en chile), no corresponde auxicaja.",TRAN,Transferido a otro sector
4094284,21070757,TEL,I,29/11/2016 10:13:08 a.m.,auxilio.-,TRAN,Transferido a otro sector
4094295,21070761,TEL,I,07/03/2016 12:59:21 p.m.,a lo jack,TRAN,Transferido a otro sector
4094562,21070964,TEL,I,22/01/2016 02:37:57 p.m.,5090,TRAN,Transferido a otro sector
4094925,21072443,TEL,I,24/02/2016 04:56:44 p.m.,NaN,TRAN,Transferido a otro sector
4095351,21074133,TEL,I,24/07/2017 03:09:59 p.m.,Derivo con autos.,TRAN,Transferido a otro sector
4095918,21075867,TEL,I,17/05/2016 10:27:11 a.m.,NaN,TRAN,Transferido a otro sector
4097241,21081997,TEL,I,07/09/2016 11:49:06 a.m.,NaN,TRAN,Transferido a otro sector

In [55]:
df[df.INTERACTION_TYPE == "I"].COD_INTERACTION.value_counts()

DD02    348838
H033    199717
DD33    127969
INF     121332
H024    118400
ATPR     82897
VTA      46066
CONS     42055
HO49     35516
OFE      33123
AW01     28954
SCCS     27505
SA01     27326
H038     20830
EM50     19496
H032     15822
IMCS     15789
AS       15678
SA03     14784
DD20     14505
TRAN     14099
CA       12623
SCLT     12303
EMCP     11487
ACCP     11464
ACCU     10172
ACRF      9961
SCCG      9900
AW25      9818
SA06      9436
         ...
DOCP         1
M052         1
CRIN         1
ARAD         1
EMPC         1
CFEM         1
DCV          1
TRCO         1
CFTL         1
OC30         1
REN1         1
ARES         1
POU2         1
2017         1
M034         1
ARGP         1
AQ06         1
N/C          1
G1           1
INCF         1
VCFR         1
CADP         1
WC40         1
FT04         1
AAMA         1
4001         1
AX42         1
TK24         1
CFEA         1
M022         1
Name: COD_INTERACTION, Length: 1026, dtype: int64

In [28]:
df[df.COD_INTERACTION == df[df.INTERACTION_TYPE == "I"].COD_INTERACTION.value_counts().index[21]].iloc[4][["COD_INTERACTION","COMMENTS"]]["COMMENTS"]

' Por motivo CANCELACION SISTEMAS por el usuario ALVARELI'