In [1]:
import os

import pandas as pd

In [2]:
# display tables options
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

In [3]:
# creating the path
path = "../../../data/raw"
save_to_path = "../../../data/interim/1. col_red"
# file
filename = "CONDICIONES.csv"
filename_to_save = os.path.join(save_to_path, filename.split(".")[0]+"-red_col.feather")
filename_to_save

'../../../data/interim/1. col_red/CONDICIONES-red_col.feather'

In [4]:
# checking the path
file = os.path.join(path, filename)
if not(os.path.exists(file) and os.path.isfile(file)):
    raise Exception("File {} doesn't exists.".format(file))
else:
    print("ok")

ok

In [5]:
usecols = ['CONDICION', 'FEC_ACT', 'NUM_SECU_EXPED', 'USR_ACT', 'VALOR_CONDICION', ]

## Loading the dataset

In [6]:
df = pd.read_csv(file, usecols=usecols)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10230858 entries, 0 to 10230857
Data columns (total 5 columns):
NUM_SECU_EXPED     int64
CONDICION          object
VALOR_CONDICION    float64
FEC_ACT            object
USR_ACT            object
dtypes: float64(1), int64(1), object(3)
memory usage: 390.3+ MB

In [7]:
df = df[df.columns.sort_values()]
df.head(3).append(df.tail())

         CONDICION   FEC_ACT  NUM_SECU_EXPED   USR_ACT  VALOR_CONDICION
0               C6  1/1/2017   1629215679999  SINISWEB              0.0
1               C7  1/1/2017   1629215679999  SINISWEB              0.0
2               C8  1/1/2017   1629215679999  SINISWEB              0.0
10230853       C16  3/6/2019   1961316579999  SABBATIN              0.0
10230854        C6  3/6/2019   1961316579999  SABBATIN              0.0
10230855        C7  3/6/2019   1961316579999  SABBATIN              0.0
10230856        C8  3/6/2019   1961316579999  SABBATIN              0.0
10230857        C9  3/6/2019   1961316579999  SABBATIN              0.0

In [8]:
# idx = "COD_MOD"
# df[idx].value_counts(dropna=False)

### Feature Format

In [9]:
to_date = ['FEC_ACT', ]
date_format = "%d/%m/%Y"
# for is faster
# df.loc[:, to_date] = df.loc[:, to_date].apply(pd.to_datetime(format=date_format))

In [10]:
%%time 
for col in to_date:
    df[col] = pd.to_datetime(df[col], format=date_format, errors="coerce")

CPU times: user 19.8 s, sys: 175 ms, total: 20 s
Wall time: 19.3 s

# saving into feather file

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10230858 entries, 0 to 10230857
Data columns (total 5 columns):
CONDICION          object
FEC_ACT            datetime64[ns]
NUM_SECU_EXPED     int64
USR_ACT            object
VALOR_CONDICION    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 390.3+ MB

In [12]:
# df["CONV_COMISIONARIO"].value_counts()

In [13]:
# fixing to_feather error
# df["CONV_COMISIONARIO"] = df["CONV_COMISIONARIO"].astype(str)

In [14]:
df.to_feather(filename_to_save)