In [1]:
import os

import pandas as pd

In [2]:
# display tables options
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

In [3]:
# creating the path
path = "../../../data/raw"
save_to_path = "../../../data/interim/1. col_red"
# file
filename = "INVESTIGACION.csv"
filename_to_save = os.path.join(save_to_path, filename.split(".")[0]+"-red_col.feather")
filename_to_save

'../../../data/interim/1. col_red/INVESTIGACION-red_col.feather'

In [4]:
# checking the path
file = os.path.join(path, filename)
if not(os.path.exists(file) and os.path.isfile(file)):
    raise Exception("File {} doesn't exists.".format(file))
else:
    print("ok")

ok

In [5]:
usecols = ['COD_FRAUDE', 'COD_RAMO', 'COD_USR', 'EXISTE_FRAUDE', 'EXISTE_INHABILITAR', 'EXISTE_INVEST', 'NRO_EXPED', 'NUM_SECU_EXPED', ]

## Loading the dataset

In [6]:
df = pd.read_csv(file, usecols=usecols)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22468 entries, 0 to 22467
Data columns (total 8 columns):
COD_RAMO              22468 non-null int64
NRO_EXPED             22468 non-null int64
EXISTE_INVEST         22468 non-null object
COD_FRAUDE            13711 non-null float64
NUM_SECU_EXPED        22468 non-null int64
COD_USR               22468 non-null object
EXISTE_FRAUDE         22468 non-null object
EXISTE_INHABILITAR    22468 non-null object
dtypes: float64(1), int64(3), object(4)
memory usage: 1.4+ MB

In [7]:
df = df[df.columns.sort_values()]
df.head(3).append(df.tail())

,COD_FRAUDE,COD_RAMO,COD_USR,EXISTE_FRAUDE,EXISTE_INHABILITAR,EXISTE_INVEST,NRO_EXPED,NUM_SECU_EXPED
0,NaN,1,IZZOT,N,N,S,1,1627737289999
1,NaN,1,IZZOT,N,N,S,1,1627910989999
2,NaN,1,IZZOT,N,N,S,1,1627591489999
22463,NaN,1,AREJULA,N,N,S,1,1960220139999
22464,NaN,1,AREJULA,N,N,S,1,1960170059999
22465,NaN,1,AREJULA,N,N,S,1,1935583159999
22466,NaN,1,AREJULA,N,N,S,1,1935583159999
22467,NaN,1,AREJULA,N,N,S,1,1960241929999

In [9]:
idx = "COD_USR"
df[idx].value_counts(dropna=False)

AREJULA     5596
RODRIGAP    5156
OLIVESKY    4201
DELIAA      3571
MARTINMA    1974
IZZOT       1970
Name: COD_USR, dtype: int64

### Feature Format

In [12]:
#to_date = ['FEC_ACT', ]
#date_format = "%d/%m/%Y"
# for is faster
# df.loc[:, to_date] = df.loc[:, to_date].apply(pd.to_datetime(format=date_format))

In [13]:
# %%time 
# for col in to_date:
#     df[col] = pd.to_datetime(df[col], format=date_format, errors="coerce")

# saving into feather file

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22468 entries, 0 to 22467
Data columns (total 7 columns):
COD_FRAUDE            13711 non-null float64
COD_RAMO              22468 non-null int64
EXISTE_FRAUDE         22468 non-null object
EXISTE_INHABILITAR    22468 non-null object
EXISTE_INVEST         22468 non-null object
NRO_EXPED             22468 non-null int64
NUM_SECU_EXPED        22468 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.2+ MB

In [15]:
# df["CONV_COMISIONARIO"].value_counts()

In [16]:
# fixing to_feather error
# df["CONV_COMISIONARIO"] = df["CONV_COMISIONARIO"].astype(str)

In [17]:
df.to_feather(filename_to_save)