In [1]:
import os

import pandas as pd

In [2]:
# display tables options
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

In [3]:
# creating the path
path = "../../../data/raw"
save_to_path = "../../../data/interim/1. col_red"
# file
filename = "tb_cif.csv"
filename_to_save = os.path.join(save_to_path, filename.split(".")[0]+"-red_col.feather")
filename_to_save

'../../../data/interim/1. col_red/tb_cif-red_col.feather'

In [4]:
# checking the path
file = os.path.join(path, filename)
if not(os.path.exists(file) and os.path.isfile(file)):
    raise Exception("File {} doesn't exists.".format(file))
else:
    print("ok")

ok

In [6]:
usecols = ['APELLIDO', 'APELLIDO_NOMBRES', 'CLIENTE', 'CODIGO_NACION', 'DATECO_TIPO_ACTIVIDAD', 'DOMICILIO_BARRIO', 'DOMICILIO_CODIGO_POSTAL', 'FECHA_NACIMIENTO', 'HABILITADO', 'ID', 'SEXO', ]

## Loading the dataset

In [8]:
df = pd.read_csv(file, usecols=usecols, encoding="latin-1", sep=";")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174922 entries, 0 to 174921
Data columns (total 11 columns):
ID                         174922 non-null int64
APELLIDO                   174900 non-null object
SEXO                       172271 non-null object
CLIENTE                    129422 non-null object
FECHA_NACIMIENTO           169864 non-null object
DOMICILIO_CODIGO_POSTAL    148152 non-null float64
HABILITADO                 38716 non-null object
APELLIDO_NOMBRES           174921 non-null object
DOMICILIO_BARRIO           38130 non-null object
DATECO_TIPO_ACTIVIDAD      112412 non-null object
CODIGO_NACION              172133 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 14.7+ MB

In [9]:
df = df[df.columns.sort_values()]
df.head(3).append(df.tail())

,APELLIDO,APELLIDO_NOMBRES,CLIENTE,CODIGO_NACION,DATECO_TIPO_ACTIVIDAD,DOMICILIO_BARRIO,DOMICILIO_CODIGO_POSTAL,FECHA_NACIMIENTO,HABILITADO,ID,SEXO
0,PAPALARDO,PAPALARDO OSCAR,NaN,ARGE,VIAJ,NaN,NaN,07/01/1955,S,240,M
1,MORALES,MORALES SEBASTIAN,S,ARGE,EMPL,NaN,1765006.0,20/01/1960,NaN,10386963,M
2,SOMOZA,SOMOZA RUBEN,NaN,ARGE,NaN,NaN,1133000.0,14/11/1954,NaN,10402083,M
174917,RODRIGUEZ,RODRIGUEZ ASENCIO JAVIER,N,ARGE,NaN,NaN,NaN,23/02/1975,NaN,23129743,M
174918,MAZZEI,MAZZEI ROBERTO CARLOS,N,ARGE,EMPL,NaN,1822000.0,29/10/1972,NaN,21019770,M
174919,DZIUBECKI,DZIUBECKI MARIA VICTORIA,N,ARGE,ENCE,BALVANERA,1083000.0,18/03/1994,NaN,12767312,F
174920,BARRIOS,BARRIOS ANGELA,N,ARGE,NaN,NaN,1755000.0,01/11/1940,NaN,23141828,F
174921,VEGA,VEGA CLAUDIA ANALIA,N,ARGE,NaN,NaN,NaN,18/04/1961,NaN,22138710,F

In [10]:
# idx = "COD_MOD"
# df[idx].value_counts(dropna=False)

### Feature Format

In [11]:
to_date = ['FECHA_NACIMIENTO', ]
date_format = "%d/%m/%Y"
# for is faster
# df.loc[:, to_date] = df.loc[:, to_date].apply(pd.to_datetime(format=date_format))

In [12]:
%%time 
for col in to_date:
    df[col] = pd.to_datetime(df[col], format=date_format, errors="coerce")

CPU times: user 361 ms, sys: 12.5 ms, total: 373 ms
Wall time: 371 ms

# saving into feather file

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174922 entries, 0 to 174921
Data columns (total 11 columns):
APELLIDO                   174900 non-null object
APELLIDO_NOMBRES           174921 non-null object
CLIENTE                    129422 non-null object
CODIGO_NACION              172133 non-null object
DATECO_TIPO_ACTIVIDAD      112412 non-null object
DOMICILIO_BARRIO           38130 non-null object
DOMICILIO_CODIGO_POSTAL    148152 non-null float64
FECHA_NACIMIENTO           169854 non-null datetime64[ns]
HABILITADO                 38716 non-null object
ID                         174922 non-null int64
SEXO                       172271 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 14.7+ MB

In [14]:
# df["CONV_COMISIONARIO"].value_counts()

In [15]:
# fixing to_feather error
# df["CONV_COMISIONARIO"] = df["CONV_COMISIONARIO"].astype(str)

In [16]:
df.to_feather(filename_to_save)