# Control common NUM_SECU_EXPED between DSS_SINIESTROS_AUTOS & CONDICIONES

The max number of rows it's defined by the amount of NUM_SECU_EXPED in both datasets

In [1]:
import os

import pandas as pd

In [2]:
# display tables options
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

In [3]:
# creating the path
path = "../../data/interim/1. col_red"
# file
file_sini = os.path.join(path, "DSS_SINI_AUTOS_ID-red_col.csv")
file_cond = os.path.join(path, "CONDICIONES-red_col.feather")

In [4]:
usecols = ["NUM_SECU_EXPED"]

In [5]:
df_sini = pd.read_csv(file_sini, usecols=usecols)
df_sini.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7516974 entries, 0 to 7516973
Data columns (total 1 columns):
NUM_SECU_EXPED    float64
dtypes: float64(1)
memory usage: 57.4 MB

In [6]:
df_cond = pd.read_feather(file_cond)
df_cond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10230858 entries, 0 to 10230857
Data columns (total 5 columns):
CONDICION          object
FEC_ACT            datetime64[ns]
NUM_SECU_EXPED     int64
USR_ACT            object
VALOR_CONDICION    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 390.3+ MB

In [7]:
cond_unique = df_cond["NUM_SECU_EXPED"].unique()
sini_unique = df_sini["NUM_SECU_EXPED"].unique()
sini_unique

array([1.62921942e+12, 1.62932514e+12, 1.62926904e+12, ...,
       1.95970717e+12, 1.95970838e+12, 1.96020103e+12])

In [19]:
# Getting the NUM_SECU_EXPED in common.
inter = set(sini_unique).intersection(set(cond_unique))
print(len(inter))

1141368

In [20]:
round(len(inter) / len(cond_unique) * 100, 2)

92.72

In [21]:
round(len(inter) / len(sini_unique) * 100, 2)

99.68

In [22]:
len(sini_unique), len(cond_unique)

(1144995, 1231015)

In [24]:
df = pd.DataFrame(inter)
df.head()

              0
0  1.677390e+12
1  1.632826e+12
2  1.947399e+12
3  1.938224e+12
4  1.884484e+12

In [27]:
df.iloc[0, 0]

1677390249999.0

In [11]:
# getting diff of element in each dataset
not_in_cond = set(sini_unique) - set(cond_unique)
len(not_in_cond)

3627

In [12]:
not_in_sini = set(cond_unique) - set(sini_unique)
len(not_in_sini)

89647

In [14]:
df_cond[df_cond["NUM_SECU_EXPED"].isin(not_in_cond)]

Empty DataFrame
Columns: [CONDICION, FEC_ACT, NUM_SECU_EXPED, USR_ACT, VALOR_CONDICION]
Index: []

<h1 style="color:blue;">Conclusion: cond has more elements in common than sini</h1>