In [1]:
import os

import pandas as pd

In [2]:
# display tables options
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

In [3]:
# creating the path
path = "../../../data/raw"
save_to_path = "../../../data/interim/1. col_red"
# file
filename = "PREGUNTAS.csv"
filename_to_save = os.path.join(save_to_path, filename.split(".")[0]+"-red_col.feather")
filename_to_save

'../../../data/interim/1. col_red/PREGUNTAS-red_col.feather'

In [4]:
# checking the path
file = os.path.join(path, filename)
if not(os.path.exists(file) and os.path.isfile(file)):
    raise Exception("File {} doesn't exists.".format(file))
else:
    print("ok")

ok

In [6]:
usecols = ['COD_PREGUNTA', 'FEC_ACT', 'NUM_SECU_EXPED', 'TIPO_EXPED', 'VALOR_PREGUNTA', ]

## Loading the dataset

In [7]:
df = pd.read_csv(file, usecols=usecols)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1808628 entries, 0 to 1808627
Data columns (total 5 columns):
NUM_SECU_EXPED    int64
TIPO_EXPED        int64
COD_PREGUNTA      int64
VALOR_PREGUNTA    object
FEC_ACT           object
dtypes: int64(3), object(2)
memory usage: 69.0+ MB

In [8]:
df = df[df.columns.sort_values()]
df.head(3).append(df.tail())

         COD_PREGUNTA    FEC_ACT  NUM_SECU_EXPED  TIPO_EXPED VALOR_PREGUNTA
0                   9   7/3/2017   1651669769999           2            AMB
1                  18   8/3/2017   1605473309999          50             T2
2                  15   8/3/2017   1605473309999          50              N
1808623            31  19/3/2019   1931299409999          60              N
1808624            34  19/3/2019   1931298629999          60              N
1808625            32  19/3/2019   1931298629999          60              1
1808626            33  19/3/2019   1931298629999          60              S
1808627            31  19/3/2019   1931298629999          60              N

In [8]:
# idx = "COD_MOD"
# df[idx].value_counts(dropna=False)

### Feature Format

In [9]:
to_date = ['FEC_ACT', ]
date_format = "%d/%m/%Y"
# for is faster
# df.loc[:, to_date] = df.loc[:, to_date].apply(pd.to_datetime(format=date_format))

In [10]:
%%time 
for col in to_date:
    df[col] = pd.to_datetime(df[col], format=date_format, errors="coerce")

CPU times: user 3.57 s, sys: 20.5 ms, total: 3.59 s
Wall time: 3.38 s

# saving into feather file

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1808628 entries, 0 to 1808627
Data columns (total 5 columns):
COD_PREGUNTA      int64
FEC_ACT           datetime64[ns]
NUM_SECU_EXPED    int64
TIPO_EXPED        int64
VALOR_PREGUNTA    object
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 69.0+ MB

In [12]:
# df["CONV_COMISIONARIO"].value_counts()

In [13]:
# fixing to_feather error
# df["CONV_COMISIONARIO"] = df["CONV_COMISIONARIO"].astype(str)

In [14]:
df.to_feather(filename_to_save)