In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
import seaborn as sns
from tpot import TPOTClassifier
import xgboost as xgboost
from xgboost import XGBClassifier

%matplotlib inline
sns.set() #adoptando el estilo de seaborn

ModuleNotFoundError: No module named 'tpot'

In [ ]:
df_pago = pd.read_table("../data/raw/TB_PAGOS_CL.tsv", encoding="latin-1")
df_pago.info()

In [4]:
df_pago[df_pago.POLICY_NUMBER == 1698663309999]

,POLICY_NUMBER,DUE_DATE,PAYMENT_DATE,PAYMENT_AMOUNT,MODE_OF_PAYMENT,PAYMENT_STATUS
3973351,1698663309999,2017-08,2017-07,3888,TM,CT

In [22]:
#creo variable para ordenar por fecha
df_pago["DUE_DATE_mes"]  = df_pago.DUE_DATE.apply(lambda x : int(x.split("-")[1]))
df_pago["DUE_DATE_anio"] = df_pago.DUE_DATE.apply(lambda x : int(x.split("-")[0]))
df_pago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4111565 entries, 0 to 4111564
Data columns (total 8 columns):
POLICY_NUMBER      int64
DUE_DATE           object
PAYMENT_DATE       object
PAYMENT_AMOUNT     object
MODE_OF_PAYMENT    object
PAYMENT_STATUS     object
DUE_DATE_mes       int64
DUE_DATE_anio      int64
dtypes: int64(3), object(5)
memory usage: 251.0+ MB

In [27]:
df_pago.sort_values(["DUE_DATE_anio", "DUE_DATE_mes"], inplace=True)
df_pago.head(20)

,POLICY_NUMBER,DUE_DATE,PAYMENT_DATE,PAYMENT_AMOUNT,MODE_OF_PAYMENT,PAYMENT_STATUS,DUE_DATE_mes,DUE_DATE_anio
0,77320269999,2004-01,2004-01,420,PP,CT,1,2004
7,79741709999,2004-01,2004-01,1088,PP,CT,1,2004
15,86520099999,2004-01,2004-01,660,PP,CT,1,2004
25,92068329999,2004-01,2004-01,1776,PP,CT,1,2004
37,100004239999,2004-01,2004-01,405,PP,CT,1,2004
42,108013639999,2004-01,2004-01,525,PP,CT,1,2004
49,119100429999,2004-01,2004-01,1098,PP,CT,1,2004
58,127372969999,2004-01,2004-01,1356,PP,CT,1,2004
70,130623839999,2004-01,NaN,80,PP,EP,1,2004
72,134881649999,2004-01,2004-01,1695,PP,CT,1,2004
87,253295029999,2004-01,2004-01,56,CC,CT,1,2004
88,255393369999,2004-01,2004-01,56,CC,CT,1,2004
89,257136599999,2004-01,2004-01,45,TM,CT,1,2004
90,257139069999,2004-01,2004-02,45,BA,CT,1,2004
91,257139909999,2004-01,2004-02,55,BA,CT,1,2004
93,257145919999,2004-01,2004-01,43,CC,CT,1,2004
95,257151019999,2004-01,2004-01,43,TM,CT,1,2004
96,257154859999,2004-01,2004-01,39,CC,CT,1,2004
97,257156639999,2004-01,2004-01,42,TM,CT,1,2004
98,257160169999,2004-01,2004-01,42,BA,CT,1,2004

### cargo bd baja

In [24]:
df_baja = pd.read_table("../data/raw/TB_BAJAS_CL.tsv", encoding="latin-1")
df_baja.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99025 entries, 0 to 99024
Data columns (total 3 columns):
POLICY_NUMBER          99025 non-null int64
CANCELLATION_DATE      99025 non-null object
CANCELLATION_REASON    16917 non-null object
dtypes: int64(1), object(2)
memory usage: 2.3+ MB

# Busco elementos para control de la lògica

In [42]:
#muestro las primeras 3 polizas que aparecen en bajas
df_pago[df_pago["POLICY_NUMBER"].isin(df_pago["POLICY_NUMBER"].unique()[684333:684334])].sort_values(by="POLICY_NUMBER")

,POLICY_NUMBER,DUE_DATE,PAYMENT_DATE,PAYMENT_AMOUNT,MODE_OF_PAYMENT,PAYMENT_STATUS,DUE_DATE_mes,DUE_DATE_anio
688813,670578219999,2009-01,2009-02,250,TM,CT,1,2009

In [43]:
df_baja[df_baja["POLICY_NUMBER"] == 670578219999]

Empty DataFrame
Columns: [POLICY_NUMBER, CANCELLATION_DATE, CANCELLATION_REASON]
Index: []

#### Conclusión baja y pago
A partir del análisis se observa que el mes de pago corresponde al siguiente mes, por ahora apareciendo siempre el último mes anterior al mes de pedido de baja. Es decir, siempre que se pidio de baja aparece el su mes de pago correspondiente

## Creo comparación de fechas

In [59]:
#obtengo aquellas polizas que tengan más de 1 registro (pago)
pagosN = pd.DataFrame(df_pago.groupby("POLICY_NUMBER").POLICY_NUMBER.count()>1)
pagosN.columns = ["logic"]
pagosN.reset_index(level=0, inplace=True)
#y luego se puede obtener los ids de las columnas de interés y filtrar en una lista
ids_pol = pagosN[pagosN["logic"] == True]["POLICY_NUMBER"].unique()

In [64]:
df_pago.head()

,POLICY_NUMBER,DUE_DATE,PAYMENT_DATE,PAYMENT_AMOUNT,MODE_OF_PAYMENT,PAYMENT_STATUS,DUE_DATE_mes,DUE_DATE_anio
0,77320269999,2004-01,2004-01,420,PP,CT,1,2004
7,79741709999,2004-01,2004-01,1088,PP,CT,1,2004
15,86520099999,2004-01,2004-01,660,PP,CT,1,2004
25,92068329999,2004-01,2004-01,1776,PP,CT,1,2004
37,100004239999,2004-01,2004-01,405,PP,CT,1,2004

In [125]:
from datetime import datetime, timedelta

In [69]:
#analicemos si hay discontinuos entre polizas en los meses de pago

#generamos una fecha fija
df_pago["fecha"] = df_pago.apply(lambda x : datetime.strptime("{}-{}-01".format(x["DUE_DATE_anio"], x["DUE_DATE_mes"]), "%Y-%m-%d"), axis=1)
df_pago.head()

,POLICY_NUMBER,DUE_DATE,PAYMENT_DATE,PAYMENT_AMOUNT,MODE_OF_PAYMENT,PAYMENT_STATUS,DUE_DATE_mes,DUE_DATE_anio,fecha
0,77320269999,2004-01,2004-01,420,PP,CT,1,2004,2004-01-01
7,79741709999,2004-01,2004-01,1088,PP,CT,1,2004,2004-01-01
15,86520099999,2004-01,2004-01,660,PP,CT,1,2004,2004-01-01
25,92068329999,2004-01,2004-01,1776,PP,CT,1,2004,2004-01-01
37,100004239999,2004-01,2004-01,405,PP,CT,1,2004,2004-01-01

In [104]:
df_pago.drop("next_f",axis=1)
df_pago["next_f"] = df_pago.groupby("POLICY_NUMBER").fecha.shift(1)
df_pago.head(40)
#for i in ids_pol:
#    df_pago.loc[df_pago.POLICY_NUMBER == i, ["next_f"]] = df_pago.loc[df_pago.POLICY_NUMBER == i]["fecha"].shift(1)

,POLICY_NUMBER,DUE_DATE,PAYMENT_DATE,PAYMENT_AMOUNT,MODE_OF_PAYMENT,PAYMENT_STATUS,DUE_DATE_mes,DUE_DATE_anio,fecha,next_f
0,77320269999,2004-01,2004-01,420,PP,CT,1,2004,2004-01-01,NaT
7,79741709999,2004-01,2004-01,1088,PP,CT,1,2004,2004-01-01,NaT
15,86520099999,2004-01,2004-01,660,PP,CT,1,2004,2004-01-01,NaT
25,92068329999,2004-01,2004-01,1776,PP,CT,1,2004,2004-01-01,NaT
37,100004239999,2004-01,2004-01,405,PP,CT,1,2004,2004-01-01,NaT
42,108013639999,2004-01,2004-01,525,PP,CT,1,2004,2004-01-01,NaT
49,119100429999,2004-01,2004-01,1098,PP,CT,1,2004,2004-01-01,NaT
58,127372969999,2004-01,2004-01,1356,PP,CT,1,2004,2004-01-01,NaT
70,130623839999,2004-01,NaN,80,PP,EP,1,2004,2004-01-01,NaT
72,134881649999,2004-01,2004-01,1695,PP,CT,1,2004,2004-01-01,NaT
87,253295029999,2004-01,2004-01,56,CC,CT,1,2004,2004-01-01,NaT
88,255393369999,2004-01,2004-01,56,CC,CT,1,2004,2004-01-01,NaT
89,257136599999,2004-01,2004-01,45,TM,CT,1,2004,2004-01-01,NaT
90,257139069999,2004-01,2004-02,45,BA,CT,1,2004,2004-01-01,NaT
91,257139909999,2004-01,2004-02,55,BA,CT,1,2004,2004-01-01,NaT
93,257145919999,2004-01,2004-01,43,CC,CT,1,2004,2004-01-01,NaT
95,257151019999,2004-01,2004-01,43,TM,CT,1,2004,2004-01-01,NaT
96,257154859999,2004-01,2004-01,39,CC,CT,1,2004,2004-01-01,NaT
97,257156639999,2004-01,2004-01,42,TM,CT,1,2004,2004-01-01,NaT
98,257160169999,2004-01,2004-01,42,BA,CT,1,2004,2004-01-01,NaT
99,257168479999,2004-01,2004-01,43,CC,CT,1,2004,2004-01-01,NaT
100,257170419999,2004-01,2004-01,38,TA,CT,1,2004,2004-01-01,NaT
101,257171239999,2004-01,2004-01,38,TM,CT,1,2004,2004-01-01,NaT
104,257182999999,2004-01,2004-01,42,TM,CT,1,2004,2004-01-01,NaT
109,257195939999,2004-01,2004-01,37,TA,CT,1,2004,2004-01-01,NaT
111,257204189999,2004-01,2004-01,38,TM,CT,1,2004,2004-01-01,NaT
112,257205259999,2004-01,2004-01,42,TA,CT,1,2004,2004-01-01,NaT
120,257248419999,2004-01,2004-01,51,CC,CT,1,2004,2004-01-01,NaT
122,257257419999,2004-01,2003-11,55,CC,CT,1,2004,2004-01-01,NaT
123,257268569999,2004-01,2004-01,47,TM,CT,1,2004,2004-01-01,NaT
126,257301569999,2004-01,2004-01,47,CC,CT,1,2004,2004-01-01,NaT
127,257305439999,2004-01,2004-01,55,CC,CT,1,2004,2004-01-01,NaT
130,257327229999,2004-01,2004-01,53,TM,CT,1,2004,2004-01-01,NaT
131,257327439999,2004-01,2004-01,54,TA,CT,1,2004,2004-01-01,NaT
132,257355349999,2004-01,2003-12,50,CC,CT,1,2004,2004-01-01,NaT
133,257362979999,2004-01,2004-01,45,TM,CT,1,2004,2004-01-01,NaT
135,257389349999,2004-01,2004-02,43,CC,CT,1,2004,2004-01-01,NaT
136,257394749999,2004-01,2004-01,39,TM,CT,1,2004,2004-01-01,NaT
139,257402169999,2004-01,2004-01,108,TM,CT,1,2004,2004-01-01,NaT
197,257579299999,2004-01,2004-01,59,CC,CT,1,2004,2004-01-01,NaT

In [107]:
df_pago.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4111565 entries, 0 to 4111564
Data columns (total 10 columns):
POLICY_NUMBER      int64
DUE_DATE           object
PAYMENT_DATE       object
PAYMENT_AMOUNT     object
MODE_OF_PAYMENT    object
PAYMENT_STATUS     object
DUE_DATE_mes       int64
DUE_DATE_anio      int64
fecha              datetime64[ns]
next_f             datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(5)
memory usage: 505.1+ MB

In [108]:
df_pago["next_f"] = df_pago.next_f.apply(lambda x : x if pd.isnull(x) else datetime(x.year + (x.month // 12), ((x.month % 12) + 1), 1) )
df_pago.head()

,POLICY_NUMBER,DUE_DATE,PAYMENT_DATE,PAYMENT_AMOUNT,MODE_OF_PAYMENT,PAYMENT_STATUS,DUE_DATE_mes,DUE_DATE_anio,fecha,next_f
0,77320269999,2004-01,2004-01,420,PP,CT,1,2004,2004-01-01,NaT
7,79741709999,2004-01,2004-01,1088,PP,CT,1,2004,2004-01-01,NaT
15,86520099999,2004-01,2004-01,660,PP,CT,1,2004,2004-01-01,NaT
25,92068329999,2004-01,2004-01,1776,PP,CT,1,2004,2004-01-01,NaT
37,100004239999,2004-01,2004-01,405,PP,CT,1,2004,2004-01-01,NaT

In [109]:
df_pago.loc[df_pago.POLICY_NUMBER == 77320269999, ["fecha", "next_f"]]

       fecha     next_f
0 2004-01-01        NaT
1 2004-02-01 2004-02-01
2 2004-03-01 2004-03-01
3 2004-04-01 2004-04-01
4 2004-05-01 2004-05-01
5 2004-06-01 2004-06-01
6 2004-07-01 2004-07-01

In [139]:
df_pago[df_pago["PAYMENT_STATUS"] == "EP"]

,POLICY_NUMBER,DUE_DATE,PAYMENT_DATE,PAYMENT_AMOUNT,MODE_OF_PAYMENT,PAYMENT_STATUS,DUE_DATE_mes,DUE_DATE_anio,fecha,next_f,siguiente
70,130623839999,2004-01,NaN,80,PP,EP,1,2004,2004-01-01,NaT,NaT
521,259238219999,2004-01,NaN,34,TM,EP,1,2004,2004-01-01,NaT,NaT
533,259261449999,2004-01,NaN,39,CC,EP,1,2004,2004-01-01,NaT,NaT
676,260077109999,2004-01,NaN,56,CC,EP,1,2004,2004-01-01,NaT,NaT
721,260397989999,2004-01,NaN,54,CC,EP,1,2004,2004-01-01,NaT,NaT
761,260796429999,2004-01,NaN,44,CC,EP,1,2004,2004-01-01,NaT,NaT
798,261096849999,2004-01,NaN,55,CC,EP,1,2004,2004-01-01,NaT,NaT
882,261656109999,2004-01,NaN,44,CC,EP,1,2004,2004-01-01,NaT,NaT
1051,262326259999,2004-01,NaN,43,CC,EP,1,2004,2004-01-01,NaT,NaT
1088,262516119999,2004-01,NaN,39,CC,EP,1,2004,2004-01-01,NaT,NaT
1121,262682399999,2004-01,NaN,39,CC,EP,1,2004,2004-01-01,NaT,NaT
1175,263016739999,2004-01,NaN,39,CC,EP,1,2004,2004-01-01,NaT,NaT
1355,267653029999,2004-01,NaN,38,BA,EP,1,2004,2004-01-01,NaT,NaT
1358,267804869999,2004-01,NaN,42,CC,EP,1,2004,2004-01-01,NaT,NaT
1370,267845889999,2004-01,NaN,118,CC,EP,1,2004,2004-01-01,NaT,NaT
1374,267953999999,2004-01,NaN,104,CC,EP,1,2004,2004-01-01,NaT,NaT
1375,267965989999,2004-01,NaN,56,CC,EP,1,2004,2004-01-01,NaT,NaT
1377,268007319999,2004-01,NaN,102,CC,EP,1,2004,2004-01-01,NaT,NaT
1380,268029109999,2004-01,NaN,183,CC,EP,1,2004,2004-01-01,NaT,NaT
1383,268067979999,2004-01,NaN,170,CC,EP,1,2004,2004-01-01,NaT,NaT
1395,268565229999,2004-01,NaN,99,CC,EP,1,2004,2004-01-01,NaT,NaT
1404,268616639999,2004-01,NaN,94,CC,EP,1,2004,2004-01-01,NaT,NaT
1412,268760669999,2004-01,NaN,229,CC,EP,1,2004,2004-01-01,NaT,NaT
1417,268807369999,2004-01,NaN,45,BA,EP,1,2004,2004-01-01,NaT,NaT
1426,268868329999,2004-01,NaN,109,CC,EP,1,2004,2004-01-01,NaT,NaT
1431,268906869999,2004-01,NaN,120,CC,EP,1,2004,2004-01-01,NaT,NaT
1432,268927079999,2004-01,NaN,84,CC,EP,1,2004,2004-01-01,NaT,NaT
1440,269047299999,2004-01,NaN,56,CC,EP,1,2004,2004-01-01,NaT,NaT
1454,269234329999,2004-01,NaN,81,CC,EP,1,2004,2004-01-01,NaT,NaT
1461,269310739999,2004-01,NaN,99,CC,EP,1,2004,2004-01-01,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...
4107070,1753531629999,2017-12,NaN,"3116,84",PP,EP,12,2017,2017-12-01,NaT,NaT
4107273,1753747429999,2017-12,NaN,1172,CC,EP,12,2017,2017-12-01,NaT,NaT
4107937,1754257289999,2017-12,NaN,4854,CC,EP,12,2017,2017-12-01,NaT,NaT
4108142,1754402859999,2017-12,NaN,"2489,89",PP,EP,12,2017,2017-12-01,NaT,NaT
4108156,1754423059999,2017-12,NaN,"1500,43",PP,EP,12,2017,2017-12-01,NaT,NaT
4108310,1754529739999,2017-12,NaN,"1521,01",PP,EP,12,2017,2017-12-01,NaT,NaT
4108332,1754550469999,2017-12,NaN,2382,PP,EP,12,2017,2017-12-01,NaT,NaT
4108429,1754828049999,2017-12,NaN,"1920,24",PP,EP,12,2017,2017-12-01,NaT,NaT
4108552,1755232779999,2017-12,NaN,"908,43",PP,EP,12,2017,2017-12-01,NaT,NaT
4109107,1756072459999,2017-12,NaN,"1914,86",PP,EP,12,2017,2017-12-01,NaT,NaT
4109471,1756580299999,2017-12,NaN,"4641,04",PP,EP,12,2017,2017-12-01,NaT,NaT
4109484,1756587989999,2017-12,NaN,"4187,34",PP,EP,12,2017,2017-12-01,NaT,NaT
4109485,1756589679999,2017-12,NaN,"5859,56",PP,EP,12,2017,2017-12-01,NaT,NaT
4109498,1756595349999,2017-12,NaN,"3143,18",PP,EP,12,2017,2017-12-01,NaT,NaT
4109785,1756834189999,2017-12,NaN,3260,CC,EP,12,2017,2017-12-01,NaT,NaT
4110434,1764328359999,2017-12,NaN,"1185,48",PP,EP,12,2017,2017-12-01,NaT,NaT
4110486,1764367139999,2017-12,NaN,3397,PP,EP,12,2017,2017-12-01,NaT,NaT
4110504,1764383909999,2017-12,NaN,"2582,4",PP,EP,12,2017,2017-12-01,NaT,NaT
4110522,1764393429999,2017-12,NaN,"999,26",PP,EP,12,2017,2017-12-01,NaT,NaT
4110555,1764442059999,2017-12,NaN,"2074,75",PP,EP,12,2017,2017-12-01,NaT,NaT
4110627,1764481519999,2017-12,NaN,"2976,05",PP,EP,12,2017,2017-12-01,NaT,NaT
4110724,1764580759999,2017-12,NaN,"4796,55",PP,EP,12,2017,2017-12-01,NaT,NaT
4110817,1765062409999,2017-12,NaN,10498,BA,EP,12,2017,2017-12-01,NaT,NaT
4110849,1765604549999,2017-12,NaN,"5704,36",PP,EP,12,2017,2017-12-01,NaT,NaT
4110867,1765607369999,2017-12,NaN,"1764,82",PP,EP,12,2017,2017-12-01,NaT,NaT
4110933,1765625359999,2017-12,NaN,"733,83",PP,EP,12,2017,2017-12-01,NaT,NaT
4111126,1765746699999,2017-12,NaN,"2549,74",PP,EP,12,2017,2017-12-01,NaT,NaT
4111394,1766062829999,2017-12,NaN,"4248,18",PP,EP,12,2017,2017-12-01,NaT,NaT
4111547,1766892709999,2017-12,NaN,3158,BA,EP,12,2017,2017-12-01,NaT,NaT
4111563,1770363819999,2017-12,NaN,"6762,86",PP,EP,12,2017,2017-12-01,NaT,NaT

In [133]:
#comparo las fechas
df_pago["siguiente"] = (df_pago.fecha - df_pago.next_f) //30
df_pago["siguiente"].value_counts()

0 days 00:00:00      151500
-2 days +23:12:00      2985
1 days 00:48:00        2805
1 days 00:00:00        1769
-1 days +00:00:00      1586
2 days 00:48:00         947
3 days 01:36:00         502
0 days 22:24:00         391
-1 days +01:36:00       373
4 days 01:36:00         320
5 days 02:24:00         295
3 days 00:48:00         269
0 days 23:12:00         251
2 days 01:36:00         213
1 days 23:12:00         192
3 days 00:00:00         153
2 days 00:00:00         150
12 days 04:00:00        147
5 days 00:48:00         146
10 days 03:12:00        139
13 days 04:48:00        138
4 days 00:00:00         137
11 days 04:00:00        133
4 days 02:24:00         132
7 days 01:36:00         128
14 days 05:36:00        125
12 days 04:48:00        125
11 days 03:12:00        112
8 days 02:24:00         110
9 days 03:12:00         105
                      ...
26 days 08:00:00          1
65 days 23:12:00          1
102 days 10:24:00         1
15 days 03:12:00          1
34 days 12:00:00          1
32 days 11:12:00          1
40 days 14:24:00          1
29 days 10:24:00          1
38 days 13:36:00          1
30 days 10:24:00          1
73 days 00:48:00          1
29 days 08:48:00          1
22 days 08:48:00          1
75 days 01:36:00          1
42 days 13:36:00          1
63 days 21:36:00          1
68 days 00:00:00          1
77 days 02:24:00          1
41 days 15:12:00          1
37 days 13:36:00          1
70 days 00:48:00          1
39 days 14:24:00          1
35 days 12:00:00          1
36 days 12:48:00          1
72 days 00:00:00          1
33 days 11:12:00          1
49 days 16:48:00          1
100 days 10:24:00         1
22 days 06:24:00          1
27 days 10:24:00          1
Name: siguiente, Length: 157, dtype: int64

### Se identifica desfasaje en algunos de los casos

In [134]:
df_pago[df_pago["siguiente"] < timedelta(1, 0)]

,POLICY_NUMBER,DUE_DATE,PAYMENT_DATE,PAYMENT_AMOUNT,MODE_OF_PAYMENT,PAYMENT_STATUS,DUE_DATE_mes,DUE_DATE_anio,fecha,next_f,siguiente
1520,269915309999,2004-01,2004-02,-104,CC,CT,1,2004,2004-01-01,2004-02-01,-2 days +23:12:00
1,77320269999,2004-02,2004-02,420,PP,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
8,79741709999,2004-02,2004-02,1088,PP,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
16,86520099999,2004-02,2004-02,660,PP,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
26,92068329999,2004-02,2004-02,1776,PP,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
38,100004239999,2004-02,2004-02,405,PP,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
43,108013639999,2004-02,2004-02,525,PP,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
50,119100429999,2004-02,2004-02,1098,PP,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
59,127372969999,2004-02,2004-02,1356,PP,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
71,130623839999,2004-02,NaN,80,PP,EP,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
73,134881649999,2004-02,2004-02,1695,PP,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
555,259347189999,2004-02,2004-02,-16,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
726,260440999999,2004-02,2004-05,-18,CC,AM,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
947,261769919999,2004-02,2004-05,-20,CC,AM,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1009,262072599999,2004-02,2004-02,-19,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1066,262425819999,2004-02,2004-02,-42,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1153,262969589999,2004-02,2004-02,-18,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1294,266420549999,2004-02,2004-05,-6,CC,AM,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1379,268023099999,2004-02,2004-02,-63,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1397,268569399999,2004-02,2004-03,-71,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1406,268642479999,2004-02,2004-02,-82,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1448,269129289999,2004-02,2004-02,-164,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1460,269305529999,2004-02,2004-02,-20,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1466,269365119999,2004-02,2004-05,-90,CC,AM,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1469,269420809999,2004-02,2004-02,-120,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1471,269436819999,2004-02,2004-02,-111,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1497,269739419999,2004-02,2004-05,-52,CC,AM,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1509,269793059999,2004-02,2004-02,-44,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1515,269878309999,2004-02,2004-05,-2,CC,AM,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
1522,269927209999,2004-02,2004-04,-30,CC,CT,2,2004,2004-02-01,2004-02-01,0 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
4104859,1751915989999,2017-12,2017-12,-2174,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4104888,1751987109999,2017-12,2017-12,-1162,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4104896,1751994989999,2017-12,2017-12,-4274,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4104900,1752006109999,2017-12,2017-12,-572,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4105185,1752280149999,2017-12,2017-12,-1412,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4105953,1752819389999,2017-12,2017-12,-4156,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4106380,1753150699999,2017-12,2018-01,"-3720,66",PP,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4106398,1753156839999,2017-12,2018-01,"-1561,54",PP,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4106411,1753162279999,2017-12,2018-01,"-1907,82",PP,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4106428,1753167989999,2017-12,2018-01,"-2077,42",PP,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4106532,1753212689999,2017-12,2018-01,"-3955,8",PP,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4106728,1753321729999,2017-12,2018-01,"-6001,1",PP,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4106911,1753453519999,2017-12,2017-12,-1496,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4107181,1753647309999,2017-12,2017-12,-2850,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4107253,1753720189999,2017-12,2017-12,-924,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4107280,1753756979999,2017-12,2017-12,"-18,09",PP,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4107294,1753783179999,2017-12,2017-12,-3312,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4107300,1753790439999,2017-12,2017-12,4272,TM,CT,12,2017,2017-12-01,2018-01-01,-2 days +23:12:00
4107928,1754237039999,2017-12,2017-12,-2190,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4108125,1754388659999,2017-12,2018-01,-2894,CC,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4108385,1754656359999,2017-12,2017-12,"-1565,39",PP,CT,12,2017,2017-12-01,2017-12-01,0 days 00:00:00
4108893,1755411249999,2017-12,2018-04,2117,CC,CT,12,2017,2017-12-01,2018-01-01,-2 days +23:12:00
4110219,1760951129999,2017-12,2018-01,"714,4",PP,CT,12,2017,2017-12-01,2018-01-01,-2 days +23:12:00
4110249,1761482829999,2017-12,2018-02,4454,TM,CT,12,2017,2017-12-01,2018-01-01,-2 days +23:12:00
4110786,1764772069999,2017-12,2018-01,"116,09",PP,CT,12,2017,2017-12-01,2018-01-01,-2 days +23:12:00
4111531,1766765009999,2017-12,2018-01,"13,65",PP,CT,12,2017,2017-12-01,2018-01-01,-2 days +23:12:00
4111533,1766771979999,2017-12,2018-01,"17,43",PP,CT,12,2017,2017-12-01,2018-01-01,-2 days +23:12:00
4111535,1766775139999,2017-12,2018-01,"21,2",PP,CT,12,2017,2017-12-01,2018-01-01,-2 days +23:12:00
4111538,1766780649999,2017-12,2018-02,"39,1",PP,CT,12,2017,2017-12-01,2018-01-01,-2 days +23:12:00
4111540,1766781739999,2017-12,2018-01,"39,28",PP,CT,12,2017,2017-12-01,2018-01-01,-2 days +23:12:00

In [138]:

df_pago.loc[df_pago.POLICY_NUMBER == 269915309999]

,POLICY_NUMBER,DUE_DATE,PAYMENT_DATE,PAYMENT_AMOUNT,MODE_OF_PAYMENT,PAYMENT_STATUS,DUE_DATE_mes,DUE_DATE_anio,fecha,next_f,siguiente
1519,269915309999,2004-01,2004-02,104,BA,CT,1,2004,2004-01-01,NaT,NaT
1520,269915309999,2004-01,2004-02,-104,CC,CT,1,2004,2004-01-01,2004-02-01,-2 days +23:12:00

In [136]:

df_baja.loc[df_baja.POLICY_NUMBER == 79741709999]

      POLICY_NUMBER CANCELLATION_DATE CANCELLATION_REASON
2525    79741709999        30/09/2004                 NaN